<nav>
  <input type="checkbox" id="check">
  <label for="check">
    <i class="fa fa-bars" id="btn"></i>
    <i class="fa fa-times" id="cancel"></i>
  </label>
 <a routerLink="/accueil"><img class="img-reponsive" src="../assets/images/icon.png"></a>
  
  <ul>
    <li  routerLinkActive="active"><a  class="main-nav__link" routerLink="/apropos" >A propos da la maladie </a>
    </li>
    <li  routerLinkActive="active" ><a class="main-nav__link" routerLink="/symptome">Signes de crise cardiaque </a>
    </li>
    <li  routerLinkActive="active"><a  class="main-nav__link" routerLink="/facteur" >Facteurs & Prévention </a>
    </li>
    
 </ul>
</nav>