
 
 
 <div class="container" style=" width: 40%;float: right;margin-top: 8%;" >
    <img src="assets/images/quote.png">     
   <h4 class="quote"> Les maladies nous apprend qui fait le bonheur, l'argent ou la santé.<br/><br/></h4>
   
   <div class="test"> 
      Peut-être souffrez-vous de douleurs de poitrines ,
     de difficulté de respiration ou d'une gêne thoracique ?
    <span style="color: red; font-weight: bolder;"> Démarrer rapidement votre fiable test pour s'assurer et réveler la posibilité de maladie. <br/></span> </div>
    <button class="btn submit" routerLink="/questionnaire" >Démarrer le test</button>
</div>
     

 

